# NeonDB PostgreSQL connection string
DATABASE_URL="postgresql://user:password@ep-xxxx.us-east-2.aws.neon.tech/anvilos?sslmode=require"

# Next Auth (when configured)
# AUTH_SECRET=""
# AUTH_URL="http://localhost:3000"
