# Prisma DATABASE_URL (required by Prisma - MySQL)
DATABASE_URL="mysql://user:password@localhost:3306/anvilos"

# Auth
AUTH_SECRET="" #> openssl rand -base64 32
AUTH_TRUST_HOST=true
AUTH_URL="http://localhost:3000"

# Email
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER=""
SMTP_PASS="" # Google's App Passwords
SMTP_FROM=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# NODE_TLS_REJECT_UNAUTHORIZED="0"; # NEVER use in production — only for local dev with self-signed certs