# Prisma connection string (NeonDB PostgreSQL)
DATABASE_URL="postgresql://user:password@ep-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=verify-full"

# Next Auth
# AUTH_SECRET=""
# AUTH_URL="http://localhost:3000"
